*{
margin: 0;
padding: 0;
font-family: 'Century Gothic', sans-serif;
color: #fff;
text-decoration: none;
}

html, body{
position: absolute;
background-color: #f1f1f1;
width: 100%;
height: 100%;
left: -112px;
transition: .7s;
}

.exibir_menu{
left: 0;
}

nav{
width: 280px;
height: 100%;
background-color: #000;
position: absolute;
}

nav #menu_hamburguer{
position: absolute;
top: 0;
right: 0;
font-size: 38px;
padding: 5px;
margin: 5px;
border-radius: 50%;
opacity: .7;
}

nav #menu_hamburguer:hover{
cursor: pointer;
background-color: rgba(255,255,255,0.3);
}

nav img{
width: 150px;
margin: 20px 50px;
opacity: .7;
}

nav ul li a{
display: block;
padding: 10px 0;
font-size: 20px;
opacity: .5;
}

nav ul li a:hover{
transition: .5s;
padding-left: 5px;
background-color: #444;
}

nav ul li ion-icon{
margin: 0 10px;
}

section{
display: block;
padding: 20px 0 0 300px;
padding-right: 20px;
}

section article h1, p{
color: #000;
padding-bottom: 20px;
text-align: justify;
}