*{
margin: 0;
padding: 0;
font-family: "Century Gothic", sans-serif;
}

body{
position: fixed;
width: 100%;
height: 100%;
left: -320px;
transition: ease-in-out 300ms;
}

.exibir_menu{
left: 0;
}

nav{
width: 320px;
height: 100%;
background-color: #000;
color: #888;
float: left;
}

i{
position: fixed;
float: left;
background-color: #000;
color: #888;
width: 50px;
height: 100%;
display: block;
margin: 0 0 0 0;
padding: 20px 0 0 15px;
cursor: pointer;
}

i:active{
color: #fff;
}

nav img{
width: 150px;
margin: 15px auto;
display: block;
opacity: .7;
}

nav ul li a{
display: block;
padding: 10px 10px;
text-decoration: none;
color: #888;
transition: ease-in-out 100ms;
}

nav ul li a:hover{
color: #fff;
padding-left: 20px;
background-color: #888;
}

section{
width: 80%;
margin: 0 20px 0 410px;
text-align: justify;
}

section h2{
margin: 20px 0;
}

