*{
margin: 0;
padding: 0;
font-family: 'Century Gothic', sans-serif;
color: #fff;
text-decoration: none;
list-style-type: none;
font-style: normal;
}

html, body, header{
width: 100%;
background-color: #f1f1f1;
}

header{
text-align: center;
position: relative;
display: flex;
justify-content: center;
align-items: center;
}

header div{
width: 80%;
position: absolute;
}

header div p{
color: #fff;
}

header video{
width: 100%;
box-shadow: 0 0 10px #444;
}

main h1, p{
color: #444;
padding: 20px;
}