body{
margin: 0;
padding: 0;
background-color: #f1f1f1;
font-family: "Century Gothic", sans-serif;
}

header{
height: 300px;
width: 1000px;
margin: auto;
background: url(bg.jpg) no-repeat center;
background-size: cover;
text-align: center;
padding: 150px auto;
}

header img,h2{
color: #fff;
opacity: 0.7;
}

header img{
margin: 100px 0 -10px 0;
width: 150px;
}

section{
display: block;
margin: 0 auto;
width: 900px;
padding: 20px 50px;
background-color: #fff;
text-align: justify;
}

section label{
font-weight: 600;
}

section input[type="text"],[type="email"]{
display: block;
padding: 15px;
width: 400px;
background-color: #f0f0f0;
border: 1px dotted #000;
margin: 5px 0;
}

section input[type="button"]{
padding: 20px 60px;
background-color: #000;
color: #fff;
font-size: 18px;
cursor: pointer;
display: block;
margin: 0 auto;
}

section input[type="button"]:active{
color: #fff;
opacity: 0.7;
}