*{
margin: 0;
padding: 0;
color: #444;
font-family: 'Century Gothic', sans-serif;
font-style: normal;
list-style-type: none;
text-decoration: none;
border: none;
border-collapse: collapse;
outline: none;
box-sizing: content-box;
}

body{
background-color: #f1f1f1;
}

header nav ul{
display: flex;
justify-content: right;
padding: 0 20px;
}

header nav ul li a{
border: 5px solid #fff;
margin: 20px 5px;
width: 40px;
height: 40px;
display: block;
transition: .3s;
box-shadow: 0 0 5px;
}

header nav ul li a:hover{
transform: scale(1.08);
box-shadow: 0 0 10px;
}