*{
margin: 0;
padding: 0;
color: #fff;
font-family: Montserrat, 'Century Gothic', sans-serif;
font-style: normal;
list-style-type: none;
text-decoration: none;
border: none;
border-collapse: collapse;
outline: none;
box-sizing: content-box;
}

body{
background-color: #e74c3c;
}

main section{
display: flex;
justify-content: center;
}

main section table{
margin: 20px auto;
box-shadow: 0 0 10px #444;
width: 400px;
overflow: hidden;
border-radius: 10px;
background-color: #fff;

}

main section table thead{
background-color: #3498db;
box-shadow: 0 0 10px #444;
}

main section table thead tr th{
padding: 20px 0;
}

main section table thead tr th h1{
border: 10px solid;
display: inline-block;
padding: 10px 30px;
text-transform: uppercase;
border-radius: 20px;
box-shadow: 0 0 10px #444;
text-shadow: 0 0 10px #444;
}

main section table thead tr th input{
padding: 10px;
width: 80%;
color: #444;
text-align: center;
border-radius: 20px;
position: relative;
box-shadow: 0 0 5px #444;
}

main section table thead tr:last-child{
position: relative;
}

main section table thead tr:last-child th span{
position: absolute;
top: 50%;
transform: translateY(-50%);
right: 32px;
cursor: pointer;
background-color: #3498db;
border-radius: 50%;
width: 30px;
height: 30px;
}

main section table tbody{
background-color: #fff;
color: #444;
}

main section table tbody tr{
display: flex;
align-items: center;
transition: .3s;
cursor: pointer;
}

main section table tbody tr:hover{
transform: scale(0.9);
}

main section table tbody tr td{
color: #444;
background-color: #fff;
margin: 10px;
}

main section table tbody tr td:first-child{
background-color: #3498db;
border-radius: 50%;
width: 40px;
height: 40px;
color: #fff;
display: flex;
justify-content: center;
align-items: center;
}
