*{
margin: 0;
padding: 0;
font-family: 'Century Gothic', sans-serif;
color: #444;
text-decoration: none;
list-style-type: none;
}

body{
background-color: #f1f1f1;
}

article{
width: 400px;
background-color: #fff;
box-shadow: 0 0 10px #444;
border-radius: 20px 0;
overflow: hidden;
margin: 20px;
text-align: justify;
transition: .4s;
cursor: pointer;
float: left;
}

article:hover{
transform: scale(1.05);
}

article img{
width: 100%;
}

article h1,p{
padding: 10px 20px;
}

@media (max-width:894px){

article{
float: none;
margin: 20px auto;
}

}