@import 'http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css';

*{
margin: 0;
padding: 0;
font-family: 'Century Gothic', sans-serif;
font-style: normal;
list-style-type: none;
text-decoration: none;
color: #fff;
text-transform: uppercase;
}

header{
text-align: center;
background-color: dodgerblue;
padding: 30px 0;
box-shadow: 0 0 10px #444;
}

header h1{
display: inline-block;
border: 10px solid;
padding: 20px;
box-shadow: 0 0 10px #444;
text-shadow: 0 0 10px #444;
}

main form{
max-width: 500px;
margin: 40px auto 80px;
padding-left: 10px;
}

main form label,input,button{
width: 90%;
color: #444;
box-sizing: content-box;
margin: 10px 0;
display: block;
}

main form label{
font-weight: bold;
}

main form input,button{
padding: 10px;
text-transform: none;
}

main form button{
background-color: dodgerblue;
outline: none;
border: none;
font-weight: bold;
font-size: 18px;
color: #fff;
text-shadow: 0 0 2px #444;
cursor: pointer;
margin-top: 20px;
text-transform: uppercase;
}

main form button:hover{
box-shadow: 0 0 5px #444;
color: #444;
text-shadow: 0 0 2px #fff;
}

footer{
position: fixed;
bottom: 0;
width: 100%;
background-color: dodgerblue;
box-shadow: 0 0 10px #444;
}

footer nav ul{
display: flex;
}

footer nav ul li{
width: 100%;
}

footer nav ul li:first-child{
border-right: 1px solid #444;
}

footer nav ul li a{
display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: 50px;
font-weight: bold;
text-shadow: 0 0 2px #444;
}

footer nav ul li a:hover{
background-color: rgba(255,255,255,0.3);
color: #444;
text-shadow: 0 0 2px #fff;
box-shadow: 0 0 5px #444;
}