*{
margin: 0;
padding: 0;
color: #fff;
font-family: Montserrat, 'Century Gothic', sans-serif;
font-style: normal;
list-style-type: none;
text-decoration: none;
border: none;
border-collapse: collapse;
outline: none;
box-sizing: content-box;
}

html,body{
height: 100%;
display: flex;
justify-content: center;
align-items: center;
background-color: #3498db;
}

main section h1{
text-transform: uppercase;
border-bottom: 1px solid;
font-size: 35px;
}