*{
margin: 0;
padding: 0;
font-family: "Century Gothic";
color: #000;
}

body{
background: url(winterfell.webp) no-repeat;
background-size: cover;
}

div{
width: 350px;
margin: 20px auto;
padding: 15px;
border-radius: 1%;
box-shadow: 0 0 40px rgba(0,0,0,1);
}

img{
border-radius: 50%;
width: 180px;
display: block;
margin: 0 auto;
box-shadow: 0 0 15px rgba(0,0,0,1);
}

h3{
font-size: 36px;
text-align: center;
margin: 15px 0;
}

h5{
font-size: 18px;
text-align: center;
margin: 15px 0;
}

ul{
display: inline-block;
margin: 20px 0px 0px 60px;
}

ul li{
list-style-type: none;
float: left;
margin-right: 30px;
}

a{
text-decoration: none;
}

.fa-square-facebook:hover{
color: dodgerblue;
}

.fa-square-x-twitter:hover{
color: mediumslateblue;
}

.fa-square-instagram:hover{
color: tomato;
}