*{
font-family: "Century Gothic";
}

body{
background: url(winterfell.webp) no-repeat;
background-size: cover;
}

div{
height: 610px;
width: 300px;
margin: 0 auto;
box-shadow: 0 0 40px rgba(0,0,0,0.4);
padding: 15px;
}

img{
box-shadow: 0 0 40px #000;
border-radius: 50%;
width: 180px;
margin: 0 auto;
display: block;
}

h3{
text-align: center;
font-size: 36px;
}

h5{
text-align: center;
font-size: 18px;
}

p{
color: #fff;
text-align: center;
}

ul{
display: block;
}

li{
list-style-type: none;
float: left;
margin-right: 25px;
}

a{
text-decoration: none;
color: #fff;
}

a.fa-square-facebook:hover{
transition: all ease-in-out 550ms;
color: dodgerblue;
}

a.fa-square-x-twitter:hover{
transition: all ease-in-out 550ms;
color: mediumslateblue;
}

a.fa-square-instagram:hover{
transition: all ease-in-out 550ms;
color: tomato;
}