*{
margin: 0px;
padding: 0px;
font-family: "Century Gothic";
color: #fff;
}

body{
background: url("penhasco.jpg") no-repeat;
background-size: cover;
}

div{
background: rgba(0,0,0,0.4);
width: 450px;
height: 500px;
margin: 45px auto;
padding: 20px;
box-shadow: 0 0 40px #000;
}

img{
border-radius: 50%;
width: 200px;
margin: 0 32%;
box-shadow: 0 0 40px #000;
}

h3{
text-align: center;
font-size: 36px;
margin: 25px 0 25px 0;
}

h5{
text-align: center;
font-size: 18px;
margin: 0 0 15px 0;
}

ul{
margin: 30px 95px;
}

ul li{
list-style-type: none;
float: left;
margin: 0 15px;
}


.fa-square-facebook:hover{
cursor: pointer;
transition: all ease-in-out 500ms;
color: dodgerblue;
}

.fa-square-x-twitter:hover{
cursor: pointer;
transition: all ease-in-out 500ms;
color: mediumslateblue;
}

.fa-square-instagram:hover{
cursor: pointer;
transition: all ease-in-out 500ms;
color: tomato;
}