*{
margin: 0;
padding: 0;
font-family: 'Century Gothic', sans-serif;
font-style: normal;
list-style-type: none;
text-decoration: none;
color: #444;
border: none;
outline: none;
box-sizing: content-box;
}

html, body, main{
height: 100%;
display: flex;
justify-content: center;
align-items: center;
background-color: #f1f1f1;
}

main section{
margin: auto 10px;
}

main section article{
background-color: #ffffff99;
max-width: 600px;
padding: 20px;
border-radius: 10px;
box-shadow: 0 0 10px;
}

main section article h1{
border-bottom: 5px solid tomato;
text-transform: uppercase;
padding: 10px 0;
}

main section article ul{
margin: 20px 0;
}

main section article ul li{
background-color: #2c3e50;
margin: 10px 0;
border-radius: 10px;
position: relative;
overflow: hidden;
display: flex;
cursor: pointer;
transition: .5s;
box-shadow: 0 0 5px;
}

main section article ul li:hover{
transform: scale(1.08);
}

/*HTML*/

main section article ul li:first-child:before{
content:'';
position: absolute;
width: 70%;
height: 100%;
background-color: tomato;
}

main section article ul li:first-child:after{
content:'70%';
position: absolute;
right: 10px;
top: 50%;
transform: translateY(-50%);
color: #fff;
font-weight: bold;
font-size: 25px;
}

/*CSS*/

main section article ul li:nth-child(2):before{
content:'';
position: absolute;
width: 60%;
height: 100%;
background-color: #254BDD;
}

main section article ul li:nth-child(2):after{
content:'60%';
position: absolute;
right: 10px;
top: 50%;
transform: translateY(-50%);
color: #fff;
font-weight: bold;
font-size: 25px;
}

/*JAVASCRIPT*/

main section article ul li:nth-child(3) img{
border-radius: 80%;
}

main section article ul li:nth-child(3):before{
content:'';
position: absolute;
width: 20%;
height: 100%;
background-color: #E8D44D;
}

main section article ul li:nth-child(3):after{
content:'20%';
position: absolute;
right: 10px;
top: 50%;
transform: translateY(-50%);
color: #fff;
font-weight: bold;
font-size: 25px;
}

/*WORDPRESS*/

main section article ul li:nth-child(4):before{
content:'';
position: absolute;
width: 0%;
height: 100%;
background-color: #E8D44D;
}

main section article ul li:nth-child(4):after{
content:'0%';
position: absolute;
right: 10px;
top: 50%;
transform: translateY(-50%);
color: #fff;
font-weight: bold;
font-size: 25px;
}

/*PYTHON*/

main section article ul li:last-child:before{
content:'';
position: absolute;
width: 15%;
height: 100%;
background-color: #356A97;
}

main section article ul li:last-child:after{
content:'15%';
position: absolute;
right: 10px;
top: 50%;
transform: translateY(-50%);
color: #fff;
font-weight: bold;
font-size: 25px;
}

main section article ul li:first-child p img{
fill: tomato;
}

main section article ul li img{
width: 50px;
padding: 5px;
position: relative;
}