@import 'http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css';

*{
margin: 0;
padding: 0;
font-family: 'Century Gothic', sans-serif;
text-decoration: none;
list-style-type: none;
color: #fff;
text-align: center;
}

body{
background-color: #f1f1f1;
}

table{
background-color: #1D2A35;
margin: 30px auto;
box-shadow: 0 0 10px #444;
border-collapse: collapse;
border-radius: 20px;
}

table thead tr th{
font-size: 25px;
padding: 20px;
text-transform: uppercase;
}

table thead tr th:first-child{
border-radius: 20px 0 0 0;
}

table thead tr th:last-child{
border-radius: 0 20px 0 0;
}

table thead tr th#basico{
background-color: dodgerblue;
}

table thead tr th#intermediario{
background-color: orange;
}

table thead tr th#avancado{
background-color: tomato;
}

/*Bordas nas laterais da coluna central para separar os itens da tabela*/

table tr td:nth-child(2), th:nth-child(2){
border-right: 1px solid #fff;
border-left: 1px solid #fff;
}

table td{
border-top: 1px solid #444;
padding: 15px;
}

table tbody tr td span{
font-size: 50px;
font-weight: bold;
}

table tbody tr td i{
display: block;
font-style: normal;
}

table tfoot tr td{
text-transform: uppercase;
font-weight: bold;
cursor: pointer;
}

table tfoot tr td:hover{
background-color: rgba(0,0,0,0.3);
color: tomato;
}

table tfoot tr td:hover:first-child{
border-radius: 0 0 0 20px;
}

table tfoot tr td:hover:last-child{
border-radius: 0 0 20px 0;
}

table tfoot tr td a i{
color: green;
font-size: 20px;
}

table tfoot tr td:hover a{
color: tomato;
}