*{
margin: 0;
padding: 0;
font-family: "Century Gothic", sans-serif;
color: #fff;
}

body{
background-color: #f1f1f1;
}

header{
background-color: dodgerblue;
}

header h1{
text-align: center;
padding: 35px 0;
text-shadow: 0 0 20px #444;
}

header nav{
transition: 1s;
text-align: center;
}

header nav ul li{
display: inline-block;
}

header nav ul li a {
display: block;
padding: 10px 20px;
text-decoration: none;
font-size: 18px;
margin: 5px 0;
}

header nav ul li a:hover{
transition: 300ms;
box-shadow: 0 0 20px #444;
}

header nav ul li a:active{
color: #000;
}

header div{
display: none;
}

header div i{
cursor: pointer;
margin: 20px;
}

@media screen and (max-width: 500px){

header nav{
height: 0;
overflow: hidden;
}

header div{
display: block;
}

header div i:active{
color: #000;
}

header nav ul li{
display: block;
text-align: left;
}

.exibir_menu{
height: 350px;
}

}