*{
margin: 0;
padding: 0;
font-family: "Century Gothic", sans-serif;
color: #444444;
}

header{
width: 100%;
padding: 50px 0;
text-align: center;
background: #2FB256;
}

nav{
background: #68d39e;
}

ul{
text-align: center;
overflow: hidden;
}

ul li{
font-weight: bold;
display: inline-block;
padding: 5px 15px;
cursor: pointer;
}

li:hover{
background: #2FB256;
box-shadow: 0 0 5px #444444;
}

a{
text-decoration: none;
padding: 10px;
}

.hide{
display: none;
}

i{
width: 100%;
padding: 15px 0 15px 0;
background: #2FB256;
}

@media screen and (max-width: 680px){
.hide{
display: block;
cursor: pointer;
}

nav ul{
max-height: 0em;
}

.show{
max-height: 20em;
}

ul li{
width: 100%;
text-align: left;
padding: 10px;
}

li:hover{
background: #2FB256;
box-shadow: 0 0 5px #444;
}

li:first-child:hover{
border-top: 1px solid #444;
}

li:last-child:hover{
border-bottom: 1px solid #444;
}

}