*{
margin: 0;
padding: 0;
font-family: "Century Gothic", sans-serif;
color: #444;
}

header{
text-align: center;
padding: 60px 0;
background-color: #2FB256;
}

nav{
padding: 10px 0;
text-align: center;
background-color: #68d39e;
}

ul li{
display: inline-block;
}

a{
padding: 10px;
text-decoration: none;
font-weight: bold;
}

a:hover{
background-color: #2FB256;
}

div{
display: none;
font-weight: bold;
background-color: #2FB256;
cursor: pointer;
padding: 0 10px;
}

@media screen and (max-width: 680px){

nav{
padding: 0;
}

ul li{
display: block;
text-align: left;
}

a{
display: block;
}

ul li:hover{
background-color: #2FB256;
}

ul li:nth-child(1):hover{
border-top: 1px solid;
}

ul li:nth-child(6):hover{
border-bottom: 1px solid;
}

div{
display: block;
}

.hide{
overflow: hidden;
transition: all ease-in-out 250ms;
height: 0px;
}

.show{
transition: all ease-in-out 250ms;
height: 241px;
}

}