@import 'http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css';

*{
margin: 0;
padding: 0;
font-family: 'Century Gothic', sans-serif;
}

html, body{
height: 100%;
}

header{
background-image: url(1.webp);
background-size: cover;
background-repeat: no-repeat;
height: 100%;
display: flex;
justify-content: right;
align-items: center;
padding: 0 50px;
}

header article{
color: #fff;
width: 500px;
}

header article p{
text-align: justify;
margin-bottom: 20px;
}

header article span{
padding: 10px 30px;
background-color: tomato;
border: none;
color: #fff;
font-weight: bold;
font-size: 18px;
cursor: pointer;
border-radius: 10px;
}

header article span:hover{
color: #000;
box-shadow: 0 0 10px #fff;
}

section{
background: url(2.webp) no-repeat;
background-size: cover;
height: 100%;
}

footer{
background: url(3.jpg) no-repeat;
background-size: cover;
height: 100%;
}