body{
margin: 0;
padding: 0;
font-family: "Century Gothic";
background: url(bg.jpg) no-repeat center;
}

a{
text-decoration: none;
color: #000;
font-size: 18px;
font-weight: bold;
margin: 100px auto;
display: block;
width: 110px;
padding: 90px 50px;
border-radius: 50%;
background-image: radial-gradient(#dfce89,rgba(223,206,137,0));
}

a:hover{
animation: bordaDeOnda 2s linear infinite;
}

a:active{
color: #fff;
text-shadow: 0 0 10px #000;
}

@keyframes bordaDeOnda{
0%{box-shadow: 0 0 0 0 rgba(223,206,137,0.6),0 0 0 0 rgba(223,206,137,0)}
30%{box-shadow: 0 0 0 50px rgba(223,206,137,0),0 0 0 0 rgba(223,206,137,0.6)}
60%{box-shadow: 0 0 0 50px rgba(223,206,137,0),0 0 0 30px rgba(223,206,137,0)}
100%{box-shadow: 0 0 0 0 rgba(223,206,137,0),0 0 0 0 rgba(223,206,137,0)}
}