body{
margin: 0;
padding: 0;
background: url(bg.jpg) no-repeat center;
font-family: "Century Gothic";
}

a{
display: block;
width: 150px;
background: dodgerblue;
text-align: center;
margin: 200px auto;
padding: 85px 30px;
text-decoration: none;
text-shadow: 2px 0 10px #000, 2px 0 10px #000, 2px 0 10px #000, 2px 0 10px #fff;
font-size: 24px;
border-radius: 50%;
color: #fff;
border: 1px solid #444;
}

a:hover{
animation: sombreamento 3s linear infinite;
}

@keyframes sombreamento{
0%{box-shadow: 0 0 0 0 rgba(29,171,209,0.6), 0 0 0 0 rgba(21,21,21,0.6);}
30%{box-shadow: 0 0 0 50px rgba(21,21,21,0), 0 0 0 0 rgba(29,171,209,0.6);}
60%{box-shadow: 0 0 0 50px rgba(21,21,21,0), 0 0 0 30px rgba(21,21,21,0);}
100%{box-shadow: 0 0 0 0 rgba(21,21,21,0), 0 0 0 0 rgba(21,21,21,0);}
}
