*{
margin: 0;
padding: 0;
font-family: 'Century Gothic', sans-serif;
text-decoration: none;
list-style-type: none;
color: #fff;
}

body{
background-color: #f1f1f1;
}

nav{
background-color: #1D2A35;
box-shadow: 0 0 10px #444;
}

nav ul{
display: flex;
justify-content: space-evenly;
}

nav ul li a{
display: block;
padding: 20px 20px;
font-weight: bold;
transition: .4s;
}

nav ul li a:hover{
background-color: rgba(255,255,255,0.3);
}

@media (max-width: 611px){

nav ul{
display: block;
}

nav ul li a{
text-align: center;
}

}