*{
margin: 0;
padding: 0;
font-family: 'Century Gothic', sans-serif;
font-style: normal;
list-style-type: none;
text-decoration: none;
color: #fff;
}

body{
background-color: #f1f1f1;
}

header{
background-color: #313131;
position: relative;
display: block;
overflow: hidden;
animation: notificacao 6s 1;
}

header.esconder_notificacao{
margin-top: -160px;
}

header h1{
padding: 20px;
text-align: center;
border: 1px solid;
display: inline-block;
}

header a{
position: absolute;
right: 30px;
top: 50%;
font-size: 50px;
}

@keyframes notificacao{

0%{
margin-top: -160px;
}

100%{
margin-top: 0px;
}

}