*{
margin: 0;
padding: 0;
font-family: "Century Gothic", sans-serif;
color: #fff;
}

img{
display: block;
width: 600px;
cursor: pointer;
}

section{
width: 600px;
}

div{
display: block;
width: 0px;
background-color: rgba(250,128,114,0.9);
height: 398px;
top: 0;
position: absolute;
transition: .7s;
display: flex;
justify-content: center;
align-items: center;
overflow: hidden;
cursor: pointer;
}

div h2{
border: 4px solid;
padding: 10px 30px;
border-radius: 10px;
}

section:hover div{
width: 600px;
}