*{
margin: 0;
padding: 0;
font-family: 'Century Gothic', sans-serif;
font-style: normal;
list-style-type: none;
text-decoration: none;
color: #fff;
}

html,body,main{
height: 100%;
background-color: #f1f1f1;
}

main{
display: flex;
justify-content: center;
align-items: center;
}

main picture{
background: url(mulher_na_praia.jpg) no-repeat center;
background-size: cover;
box-shadow: 0 0 10px #444;
width: 480px;
height: 400px;
text-align: center;
}

main picture:before{
content:'';
text-transform: uppercase;
display: none;
padding: 25px 0;
background-color: #444;
font-weight: bold;
letter-spacing: .4em;
}

main ul{
position: fixed;
bottom: 0;
display: flex;
justify-content: space-evenly;
width: 100%;
background-color: #444;
}

main ul li{
padding: 20px 0;
cursor: pointer;
width: 100%;
text-align: center;
}

main ul li:hover{
background-color: rgba(0,0,0,0.2);
}

main ul li:hover ~ picture:before{
display: block;
}

main ul picture{
position: fixed;
top: 45%;
left: 50%;
transform: translate(-50%,-50%);
width: 480px;
height: 400px;
}

main ul li:hover:nth-child(1) ~ picture {
filter: blur(2px);
}

main ul li:hover:nth-child(1) ~ picture:before {
content:'Blur - Borrado';
}

main ul li:hover:nth-child(2) ~ picture {
filter: grayscale(100%);
}

main ul li:hover:nth-child(2) ~ picture:before {
content:'GrayScale - Escala de Cinza';
}

main ul li:hover:nth-child(3) ~ picture {
filter: invert(100%);
}

main ul li:hover:nth-child(3) ~ picture:before {
content:'Invert - Invertido';
}

main ul li:hover:nth-child(4) ~ picture {
filter: brightness(200%);
}

main ul li:hover:nth-child(4) ~ picture:before {
content:'brightness - Brilho';
}

main ul li:hover:nth-child(5) ~ picture {
filter: opacity(20%);
}

main ul li:hover:nth-child(5) ~ picture:before {
content:'Opacity - Opacidade';
}

main ul li:hover:nth-child(6) ~ picture {
filter: contrast(200%);
}

main ul li:hover:nth-child(6) ~ picture:before {
content:'contrast - contraste';
}