main ul li img{
width: 100%;
}

main ul li:first-child img{
filter: blur(10px);
}

main ul li:nth-child(2) img{
filter: grayscale(100%);
}

main ul li:nth-child(3) img{
filter: brightness(200%);
}

main ul li:nth-child(4) img{
filter: contrast(300%);
}

main ul li:nth-child(5) img{
filter: invert(100%);
}

main ul li:last-child img{
filter: opacity(40%);
}