*{
margin: 0;
padding: 0;
color: #fff;
font-family: Montserrat, 'Century Gothic', sans-serif;
font-style: normal;
list-style-type: none;
text-decoration: none;
border: none;
outline: none;
border-collapse: collapse;
box-sizing: content-box;
}

html,body{
height: 100%;
display: flex;
justify-content: center;
align-items: center;
background-color: #444;
}

main nav ul{
width: 400px;
}

main nav ul li{
float: left;
background-color: #3498db;
margin: 1px;
width: 100px;
height: 100px;
padding: 10px;
display: flex;
justify-content: center;
align-items: center;
position: relative;
text-transform: uppercase;
transition: .4s;
cursor: pointer;
}

main nav ul li:hover{
transform: scale(0.9);
}

main nav ul li:nth-child(2){
width: 223px;
}

main nav ul li ion-icon{
font-size: 40px;
opacity: .8;
}

main nav ul li p{
position: absolute;
bottom: 10px;
left: 10px;
opacity: .8;
}

main nav ul li:first-child{
background-color: #27ae60;
}

main nav ul li:nth-child(2){
background-color: #e74c3c;
}

main nav ul li:nth-child(3){
background-color: #f1c40f;
}

main nav ul li:last-child{
background-color: #95a5a6;
}