*{
margin: 0;
padding: 0;
color: #ffffffb3;
font-family: Montserrat, 'Century Gothic', sans-serif;
font-style: normal;
list-style-type: none;
text-decoration: none;
border: none;
outline: none;
box-sizing: content-box;
/*border-collapse: collapse;*/
}

html,body{
height: 100%;
display: flex;
justify-content: center;
align-items: center;
background-color: #34495e;
}

main section table tbody tr td{
box-shadow: 0 0 5px #000;
transition: .3s;
cursor: pointer;
padding: 50px;
position: relative;
}

main section table tbody tr td:hover{
box-shadow: 0 0 4px #000;
transform: scale(0.95);
}

main section table tbody tr td span.material-symbols-outlined {
font-size: 50px;
display: block;
text-align: center;
}

main section table tbody tr td i{
display: block;
position: absolute;
left: 5px;
bottom: 5px;
padding: 10px 0 5px;
text-transform: uppercase;
font-weight: bold;
}

/*BOTÃO DO ANDROID*/
main section table tbody tr:first-child td:first-child{
background-color: #c0392b;
}

main section table tbody tr:first-child td:first-child:hover{
background-color: #e74c3c;
}

/*BOTÃO DE VIDEOS*/
main section table tbody tr:first-child td:last-child{
background-color: #27ae60;
}

main section table tbody tr:first-child td:last-child:hover{
background-color: #2ecc71;
}

/*BOTÃO DE FOTOS*/
main section table tbody tr:last-child td:first-child{
background-color: #2980b9;
}

main section table tbody tr:last-child td:first-child:hover{
background-color: #3498db;
}

/*BOTÃO DE MUSICAS*/
main section table tbody tr:last-child td:nth-child(2){
background-color: #16a085;
}

main section table tbody tr:last-child td:nth-child(2):hover{
background-color: #1abc9c;
}

/*BOTÃO DE AJUSTES*/
main section table tbody tr:last-child td:last-child{
background-color: #d35400;
}

main section table tbody tr:last-child td:last-child:hover{
background-color: #e67e22;
}