*{
margin: 0;
padding: 0;
font-family: 'Century Gothic', sans-serif;
font-style: normal;
list-style-type: none;
text-decoration: none;
color: #fff;
}

body{
background-color: #f1f1f1;
}

footer{
position: absolute;
bottom: 0;
width: 100%;
background-color: coral;
box-shadow: 0 0 10px #444;
padding: 40px 0;
}


footer nav ul{
display: flex;
justify-content: center;
}

footer nav ul li{
width: 100%;
display: flex;
justify-content: center;
align-items: center;
margin: 0 5px;
width: 80px;
height: 80px;
border-radius: 10px;
border-bottom: 6px solid #444;
border-right: 6px solid #444;
cursor: pointer;
transition: .2s;
}

footer nav ul li:hover{
border-bottom: 4px solid #444;
border-right: 4px solid #444;
}

footer nav ul li a ion-icon{
width: 60px;
height: 60px;
}

footer nav ul li:first-child{
background-color: #2980B9;
}

footer nav ul li:nth-child(2){
background-color: #27ae60
}

footer nav ul li:nth-child(3){
background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

footer nav ul li:nth-child(4){
background-color: #3498db;
}

footer nav ul li:last-child{
background-color: #e74c3c;
}