@import 'http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css';

body{
margin: 0;
padding: 0;
}

.box{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
}

.box a{
display: inline-flex;
width: 60px;
height: 60px;
margin: 10px;
color: white;
background: #e74c3c;
text-decoration: none;
font-size: 40px;
align-items: center;
justify-content: center;
border-radius: 10px;
border-bottom: 4px solid #c0392b;
transition: 0.3s all;
}

.box a:hover{
border-bottom: 2px solid #c0392b;
opacity: 0.8;
}