*{
margin: 0;
padding: 0;
font-family: 'Century Gothic', sans-serif;
font-style: normal;
list-style-type: none;
text-decoration: none;
color: #444;
}

html,body,main{
height: 100%;
background-color: tomato;
}

main{
display: flex;
justify-content: center;
align-items: center;
}

main section{
max-width: 460px;
height: 400px;
background-color: #fff;
margin: 0 10px;
text-align: center;
overflow-y: scroll;
padding: 20px;
box-shadow: 0 0 10px;
border-radius: 10px;
}

main section h1{
border: 10px solid #444;
color: tomato;
padding: 10px 20px;
border-radius: 10px;
box-shadow: 0 0 10px #444;
}

main section img{
margin: 40px 0;
box-shadow: 0 0 10px #444;
transition: .3s;
cursor: pointer;
}

main section img:hover{
transform: scale(1.05);
}

main section p{
text-align: justify;
line-height: 30px;
}