*{
margin: 0;
padding: 0;
font-family: 'Century Gothic', sans-serif;
font-style: normal;
list-style-type: none;
text-decoration: none;
color: #fff;
}

html, body, main{
height: 100%;
background-color: #f1f1f1;
}

main{
position: fixed;
right: 0;
background-color: #313131;
height: 100%;
display: flex;
align-items: center;
width: 60px;
box-shadow: 0 0 10px #444;
}

main nav{
position: fixed;
right: 0;
}

main nav ul li{
position: relative;
right: -125px;
transition: .6s;
}

main nav ul li a{
display: block;
padding: 10px 40px;
margin: 0 0 10px 5px;
border-radius: 10px 0 0 10px;
font-weight: bold;
text-shadow: 0 0 5px #444;
box-shadow: 0 0 10px #444;
font-size: 18px;
}

main nav ul li:hover{
right: 0;
}

main nav ul li:first-child a{
background-color: dodgerblue;
}

main nav ul li:nth-child(2) a{
background-color: #2980b9;
}

main nav ul li:nth-child(3) a{
background-color: #27ae60;
}

main nav ul li:last-child a{
background-color: tomato;
}