*{
margin: 0;
padding: 0;
font-family: 'Century Gothic', sans-serif;
font-style: normal;
list-style-type: none;
text-decoration: none;
color: #fff;
border: none;
outline: none;
box-sizing: content-box;
}

body{
background-color: #1abc9c;
}

header{
display: flex;
justify-content: center;
align-items: center;
height: 100px;
box-shadow: 0 0 10px #444;
}

header label{
display: flex;
justify-content: center;
background-color: #16a085;
border-radius: 40px;
width: 0;
transition: .3s;
max-width: 300px;
}

header label:hover{
width: 50%;
}

header label:hover input{
width: 80%;
}

header label:hover i{
background-color: #fff;
color: #444;
}

header label input{
padding: 10px;
float: left;
background-color: transparent;
color: #fff;
border-radius: 20px;
width: 0;
transition: .3s;
}

header label input::placeholder{
color: #fff;
text-align:center;
}

header label i{
background-color: #16a085;
border-radius: 50%;
display: block;
padding: 10px;
float: right;
transition: .3s;
}