*{
margin: 0;
padding: 0;
color: #fff;
font-family: 'Century Gothic', sans-serif;
font-style: normal;
list-style-type: none;
text-decoration: none;
border: none;
border-collapse: collapse;
outline: none;
box-sizing: content-box;
}

body{
background-color: #3498db;
}

header{
box-shadow: 0 0 10px #444;
display: flex;
justify-content: center;
align-items: center;
height: 100px;
}

header label{
background-color: #2980b9;
padding: 10px 10px;
border-radius: 20px;
width: 20px;
position: relative;
transition: .4s;
}

header label:hover{
width: 400px;
}

header label:hover i{
background-color: #3498db;
border-radius: 50%;
width: 40px;
height: 40px;
top: 1px;
right: 2px;
display: flex;
justify-content: center;
align-items: center;
}

header label input{
width: 90%;
background-color: transparent;
text-align: center;
}

header label input::placeholder{
color: #fff;
text-transform: uppercase;
}

header label i{
position: absolute;
font-size: 25px;
background-color: #2980b9;
border-radius: 50%;
right: 7px;
cursor: pointer;
}