*{
margin: 0;
padding: 0;
font-family: 'Century Gothic', sans-serif;
font-style: normal;
list-style-type: none;
text-decoration: none;
color: #fff;
}

body{
background-color: #f1f1f1;
}

main form h1,input[type="submit"],a{
text-transform: uppercase;
}

main form{
background-color: dodgerblue;
box-shadow: 0 0 10px #444;
max-width: 480px;
margin: 20px auto;
text-align: center;
box-shadow: 0 0 10px #444;
border-radius: 10px;
border: 2px solid #ccc;
}

main form h1{
text-align: center;
margin: 20px 0;
border: 10px solid;
display: inline-block;
padding: 10px 30px;
box-shadow: 0 0 10px #444;
text-shadow: 0 0 10px #444;
}

main form input{
display: inline-block;
width: 90%;
margin: 0 auto;
box-sizing: content-box;
padding: 10px;
color: #fff;
margin: 10px 0;
outline: none;
background-color: dodgerblue;
border: none;
border-bottom: 1px solid;
text-align: center;
font-size: 15px;
}

main form input::placeholder{
color: #444;
text-align: center;
text-transform: uppercase;
font-weight: bold;
}

main form input[type="submit"]{
font-weight: bold;
font-size: 20px;
border: none;
cursor: pointer;
background-color: tomato;
text-shadow: 0 0 10px #444;
display: block;
margin: 20px auto;
}

main form input[type="submit"]:hover{
border: none;
box-shadow: 0 0 10px #444;
}

main form footer{
padding-right: 10px;
text-align: right;
}

main form footer a{
display: inline-block;
margin: 0 0 20px;
font-size: 15px;
}

main form footer a:hover{
color: #444;
border-bottom: 1px solid #444;
}
