@import 'http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css';

*{
margin: 0;
padding: 0;
font-family: 'Century Gothic', sans-serif;
font-style: normal;
list-style-type: none;
text-decoration: none;
color: #fff;
text-transform: uppercase;
}

html, body{
height: 100%;
width: 100%;
background-color: #f1f1f1;
}

header{
background-color: tomato;
box-shadow: 0 0 10px #444;
text-align: center;
}

header h1{
padding: 15px 60px;
text-shadow: 0 0 5px #444;
border: 10px solid;
display: inline-block;
margin: 20px 0;
border-radius: 10px;
}

nav ul{
display: flex;
justify-content: space-around;
}

nav ul li{
width: 100%;
display: flex;
justify-content: center;
align-items: center;
}

nav ul li a{
width: 100%;
padding: 20px;
text-align: center;
font-weight: bold;
text-shadow: 0 0 5px #444;
transition: .4s;
}

nav ul li a:hover{
background-color: coral;
}

main{
background-color: dodgerblue;
height: 78%;
display: flex;
justify-content: center;
align-items: center;
}

main#principal{
height: 90%;
}

main form{
max-width: 500px;
text-align: center;
margin-top: -100px;
}

main form input{
width: 90%;
padding: 15px;
margin: 10px 0;
background-color: dodgerblue;
outline: none;
border: none;
border-bottom: 1px solid;
text-transform: lowercase;
}

main form input::placeholder{
color: #fff;
text-align: center;
text-transform: uppercase;
}

main form button{
width: 90%;
padding: 15px;
margin: 30px 0 0 0;
background-color: dodgerblue;
outline: none;
border: none;
cursor: pointer;
font-size: 20px;
font-weight: bold;
box-shadow: 0 0 10px #444;
border: 1px solid transparent;
text-shadow: 0 0 10px #444;
transition: .4s;
}

main form button:hover{
box-shadow: none;
border: 1px solid;
}

footer{
background-color: tomato;
box-shadow: 0 0 10px #444;
position: fixed;
bottom: 0;
width: 100%;
}