*{
margin: 0;
padding: 0;
font-family: 'Century Gothic', sans-serif;
color: #444;
}

body{
background-color: #f1f1f1;
}

nav{
width: 500px;
margin: auto;
}

nav ul{
display: flex;
justify-content: space-around;
list-style-type: none;
padding: 30px 0;
}

nav ul li a{
display: block;
text-decoration: none;
padding: 30px 0 5px 0;
position: relative;
overflow: hidden;
font-weight: bold;
}

nav ul li a:before{
content:'';
border-bottom: 5px solid #444;
position: absolute;
bottom: 0;
left: -10px;
width: 0px;
transition: .7s;
}

nav ul li a:hover:before{
left: 75px;
width: 30px;
}