*{
margin: 0;
padding: 0;
font-family: calibri;
color: #1293de;
}

header{
background-image: url(arranha-ceu.png);
background-size: cover;
padding: 30px 0px;
height: 300px;
}

div{
width: 1000px;
margin: auto;
text-shadow: 4px 4px 10px black;
}

p{
margin: 60px 0px;
font-size: 54px;
font-weight: bold;
text-shadow: 4px 4px 20px white;
}

a{
background-color: #1293de;
text-decoration: none;
color: white;
padding: 20px 60px;
margin: 0 40px;
border-radius: 80px;
font-size: 20px;
font-weight: bold;
}

a:hover{
color: black;
box-shadow: 4px 4px 20px black;
}