*{
padding: 0;
margin: 0;
font-family: calibri;
}

#image_bg{
background: url(arranha-ceu.png);
/* background-size: (Number/ Number_Large with Number_Height / auto / cover / contain) */
background-size: cover;
height: 400px;
}

#header_logo{
width: 1000px;
margin: auto;
/* text-shadow: (-X/X)px (-Y/Y)px Number Color */
text-shadow: -4px -1px 1px #474747;
font-size: 18px;
padding-top: 15px;
}

p{
margin: 60px 40px;
font-size: 64px;
font-weight: bold;
text-shadow: -4px -1px 1px #474747;
}

a{
background-color: #474747;
font-size: 28px;
color: white;
margin: 0 20px;
padding: 20px 60px;
border-radius: 80px;
text-decoration: none;
}

a:hover{
box-shadow: -4px -1px 50px black;
border: 1px solid white;
}