body{
margin: 0;
padding: 0;
color: #1293de;
font-family: calibri;
}

#header{
background: url(bg.png);
height: 450px;
background-repeat: no-repeat;
background-size: cover;
}

#h-1{
max-width: 1000px;
padding: 20px 0;
margin: auto;
}

h1{
text-shadow: 4px 4px 1px #474747;
font-size: 44px;
}

p{
font-weight: bold;
font-size: 60px;
text-shadow: 4px 4px 1px #474747;
}

a{
text-decoration: none;
color: white;
background: #88c34a;
font-size: 30px;
padding: 4px 20px;
border-radius: 30px;
margin: 10px;
}