@import 'http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css';

*{
margin: 0;
padding: 0;
font-family: 'Century Gothic', sans-serif;
color: #444;
}

div{
width: 450px;
margin: 20px auto;
display: block;
position: relative;
box-shadow: 0 0 10px #444;
overflow: hidden;
position: relative;
border-radius: 20px;
}

div header img{
width: 100%;
}

div header {
position: relative;
width: 100%;
}

div header:before{
content: '';
position: absolute;
border-top: 50px solid transparent;
border-left: 500px solid #fff;
bottom: 0;
left: 0;
display: block;
}

div article{
margin: 10px 30px;
text-align: justify;
}

div article h3{
margin: 20px 0;
}

div article ul{
display: flex;
justify-content: space-evenly;
list-style-type: none;
margin: 20px 0 60px 0;
font-size: 45px;
}

div article ul li:nth-child(1) a{
color: #000;
}

div article ul li:nth-child(2) a{
color: #2FB256;
}

div article ul li:nth-child(3) a{
color: #2196f3;
}

div article ul li:nth-child(4) a{
color: #000;
}

div article ul li{
transition: .5s;
}

div article ul li:hover{
transform: scale(1.2);
}

div{
border-bottom: 50px solid #1D2A35;
}

article:after{
content:'Codado por CódigoFonte';
position: absolute;
bottom: 0px;
left: 10px;
font-size: 18px;
color: #fff;
}

div:before{
content: '';
position: absolute;
bottom: 0px;
border-bottom: 50px solid #1D2A35;
border-right: 500px solid #fff;
}