*{
margin: 0;
padding: 0;
font-family: "Century Gothic", sans-serif;
color: #444;
}

body{
background-color: #f1f1f1;
}

div{
width: 380px;
margin: 20px auto;
overflow: hidden;
background-color: #fff;
text-align: center;
box-shadow: 0 0 10px #444;
border-radius: 10px;
}

div header img{
width: 380px;
height: 200px;
}

header{
position: relative;
}

header:before{
content: '';
border-top: 30px solid transparent;
border-left: 380px solid #fff;
bottom: 0px;
padding: 3px;
position: absolute;
}

div h2, h3, p, ul{
margin: 10px 10px;
}

div ul{
justify-content: space-evenly;
display: flex;
margin: 20px 0;
}

div ul li{
list-style-type: none;
}

div ul li a{
text-decoration: none;
color: #fff;
background-color: #314652;
width: 30px;
height: 30px;
border-radius: 50%;
font-size: 30px;
padding: 10px;
}

div ul li a:hover{
transition: .5s;
transform: scale(1.2);
}

span{
display: block;
width: 380px;
border: 1p solid black;
height: 60px;
background-color: #314652;
color: #fff;
padding-top: 30px;
position: relative;
padding-left: -20px;
}

span:before{
content: '';
border-bottom: 30px solid transparent;
border-right: 380px solid #fff;
bottom: 45px;
margin: 0px;
position: relative;
}