*{
padding: 0;
margin: 0;
font-family: calibri;
}

body{
background-color: #474747;
}

header{
background-color: #1293de;
}

nav{
width: 80%;
margin: auto;
display: table;
padding: 10px 0px;
}

h1{
padding: 10px 0px;
float: left;
font-size: 16px;
color: white;
text-shadow: 1px 1px 1px #000;
}

ul{
float: right;
}

li{
float: left;
list-style-type: none;
padding: 10px 15px;
}

a{
text-decoration: none;
font-weight: bold;
color: black;
padding: 15px 0px;
}

a:hover{
border-bottom: 5px solid white;
color: #fff;
}