*{
padding: 0;
margin: 0;
font-family: calibri;
}

body{
background-color: lightskyblue;
}

header{
background-color: #212121;
}

div{
width: 80%;
margin: auto;
display: table;
background-color: #212121;
}

h1{
color: #3ff;
font-size: 20px;
float: left;
margin: 15px 0;
}

nav{
float: right;
}

ul li{
list-style: none;
float: left;
margin: 0 15px;
padding: 17px 0;
}

a{
text-decoration: none;
color: #3ff;
font-weight: bold;
padding: 12px 0px 18px 0px;
}

a:hover{
border-top: 5px solid #3ff;
}