@import 'http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css';

*{
margin: 0;
padding: 0;
font-family: 'Ionicons', 'Century Gothic', sans-serif;
}

body{
background-color: #f1f1f1;
}

nav{
width: 480px;
margin: auto;
}

nav ul{
list-style-type: none;
}

nav ul li a{
border: 1px solid;
display: block;
padding: 10px 0;
text-decoration: none;
background-color: tomato;
color: #fff;
padding-left: 15px;
font-weight: bold;
}

nav ul li p{
padding: 0px 15px;
text-align: justify;
height: 0em;
overflow: hidden;
display: block;
transition: .8s;
}

:target p{
height: 20em;
padding-top: 10px;
}