*{
margin: 0;
padding: 0;
font-family: 'Century Gothic', sans-serif;
font-style: normal;
list-style-type: none;
text-decoration: none;
color: #444;
}

html,body,main{
height: 100%;
background-color: #f1f1f1;
}

main{
display: flex;
justify-content: center;
align-items: center;
}

main picture{
width: 480px;
height: 480px;
border-radius: 10px;
box-shadow: 0 0 10px #444;
animation: apresentação 20s linear infinite;
}

@keyframes apresentação{
0%{
background: url(1.jpg) no-repeat center;
background-size: cover;
}

33%{
background: url(2.jpg) no-repeat center;
background-size: cover;
}

66%{
background: url(3.jpg) no-repeat center;
background-size: cover;
}

99%{
background: url(4.jpg) no-repeat center;
background-size: cover;
}

}