*{
margin: 0;
padding: 0;
font-family: 'Century Gothic', sans-serif;
color: #444;
text-decoration: none;
list-style-type: none;
}

html,body{
height: 100%;
background-color: #f1f1f1;
}

main{
height: 100%;
display: flex;
justify-content: center;
align-items: center;
}

main p{
font-size: 35px;
text-transform: uppercase;
font-weight: bold;
position: relative;
text-shadow: 0 0 3px #444;
}

main p:before{
content: 'Otorrinolaringologista';
position: absolute;
width: 0%;
overflow: hidden;
transition: .8s;
color: orange;
}

main p:hover:before{
width: 100%;
}