@import 'http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css';

*{
margin: 0;
padding: 0;
font-family: 'Century Gothic', sans-serif;
font-style: normal;
color: #444;
list-style-type: none;
text-decoration: none;
}

html,body,main{
height: 100%;
background-color: #f1f1f1;
}

main ul{
display: flex;
justify-content: space-evenly;
align-items: center;
box-shadow: 0 0 10px #444;
}

main ul li{
text-align: center;
overflow: hidden;
position: relative;
cursor: pointer;
}

main ul li a{
display: block;
width: 100px;
height: 100px;
font-size: 80px;
text-shadow: 0 0 10px #000;
}

main ul li:first-child a{
color: tomato;
}

main ul li:nth-child(2) a{
color: yellow;
}

main ul li:nth-child(3) a{
color: orange;
}

main ul li:last-child a{
color: #ccc;
}

main ul li span{
position: absolute;
display: block;
width: 100%;
transition: .3s;
bottom: -23px;
font-weight: bold;
}

main ul li:hover span{
bottom: 0;
}

