@import 'http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css';

*{
margin: 0;
padding: 0;
font-family: 'Century Gothic', sans-serif;
color: #444;
text-decoration: none;
list-style-type: none;
font-style: normal;
}

html, body, main {
height: 100%;
background-color: #f1f1f1;
}

main, nav, ul{
height: 100px;
}

main nav ul{
display: flex;
justify-content: space-around;
align-items: center;
}

main nav ul li{
height: 100%;
overflow: hidden;
font-weight: bold;
}

main nav ul li a{
font-size: 50px;
display: flex;
width: 100px;
height: 100%;
justify-content: center;
align-items: center;
transition: .4s;
}

main nav ul li span{
display: block;
text-align: center;
}

main nav ul li a:hover{
height: 80%;
}

main nav ul li:first-child a{
color: orange;
}

main nav ul li:nth-child(2) a{
color: yellow;
}

main nav ul li:nth-child(3) a{
color: orange;
}

main nav ul li:last-child a{
color: #bdc3c7;
}