*{
margin: 0;
padding: 0;
color: #fff;
}

body{
background-color: #f1f1f1;
}

nav{
width: 480px;
margin: 50px auto;
}

nav ul{
list-style-type: none;
display: flex;
justify-content: space-around;
align-items: center;
}

nav ul li a{
display: flex;
border-radius: 50%;
width: 60px;
height: 60px;
align-items: center;
justify-content: center;
font-size: 40px;
background-color: #314652;
padding: 5px;
transition: .5s;
}

nav ul li a:hover{
box-shadow: 0 0 10px #444;
transform: scale(1.2);
}

nav ul li:nth-child(1) a:hover{
background: #0866ff;
}

nav ul li:nth-child(2) a:hover{
background: #1185fe;
}

nav ul li:nth-child(3) a:hover{
background: #000;
}

nav ul li:nth-child(4) a:hover{
background: #ff0033;
}

nav ul li:nth-child(5) a:hover{
background: #0073b2;
}