@import 'http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css';

*{
margin: 0;
padding: 0;
font-family: Ionicons, 'Century Gothic', sans-serif;
font-style: normal;
list-style-type: none;
text-decoration: none;
color: #444;
}

html, body, main{
background-color: #f1f1f1;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
}

main ul{
display: flex;
}

main ul li{
box-shadow: 0 0 10px;
}

main ul li button{
font-size: 50px;
padding: 5px 20px;
cursor: pointer;
border: none;
}

main ul li:first-child button{
border-radius: 20px 0 0 20px;
}

main ul li:last-child button{
border-radius: 0 20px 20px 0;
}

main ul li button:hover{
background-color: rgba(0,0,0,0.1)
}

main ul li:first-child{
border-radius: 20px 0 0 20px;
position: relative;
}

main ul li:first-child:before{
content:'Marcar como "Gostei"';
position: absolute;
border-radius: 10px;
bottom: -70px;
left: -105px;
width: 180px;
background-color: rgba(0,0,0,0.7);
color: #fff;
text-align: center;
padding: 10px 20px;
display: none;
opacity:0;
transition: .5s all;
}

main ul li:last-child:before{
content:'Marcar como "Não Gostei"';
position: absolute;
border-radius: 10px;
bottom: -70px;
right: -70px;
width: 250px;
background-color: rgba(0,0,0,0.7);
color: #fff;
text-align: center;
padding: 10px 20px;
display: none;
opacity:0;
transition: .5s all;
}

main ul li:first-child:hover:before{
display: block;
opacity: 1;
}

main ul li:last-child:hover:before{
display: block;
opacity: 1;
}

main ul li:last-child{
border-radius: 0 20px 20px 0;
position: relative;
}