@import 'http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css';

*{
margin: 0;
padding: 0;
font-family: Ionicons, 'Century Gothic', sans-serif;
color: #fff;
text-decoration: none;
list-style-type: none;
font-style: normal;
}

html,body{
height: 100%;
background-color: #f1f1f1;
}

header{
background-color: #4caf50;
height: 80px;
overflow: hidden;
transition: .4s;
}

header.expandido{
height: 100%;
}

header nav a.botao_menu:before{
content:'\f394';
position: absolute;
width: 80px;
height: 80px;
right: 20px;
display: flex;
justify-content: center;
align-items: center;
font-size: 50px;
transition: .4s;
}

header nav a.botao_menu:hover:before{
transform: rotate(180deg);
}

header nav a.botao_menu_acionado:before{
content:'\f129';
}

header nav ul{
padding-top: 80px;
display: block;
}

header nav ul li a{
display: block;
text-align: center;
padding: 15px 0;
font-weight: bold;
}

header nav ul li a:hover{
background-color: rgba(255,255,255,0.3);
}