*{
margin: 0;
padding: 0;
font-family: 'Century Gothic', sans-serif;
font-style: normal;
list-style-type: none;
text-decoration: none;
color: #fff;
}

body{
background-color: #f1f1f1;
}

header{
background-color: #313131;
box-shadow: 0 0 10px #444;
text-align: center;
text-transform: uppercase;
animation: oferta_do_dia 800ms 1;
}

header h1{
font-size: 60px;
padding: 20px 0;
text-shadow: 0 0 10px #000;
font-weight: bold;
}

header h2{
font-size: 30px;
padding: 20px 0;
}

header h2 i{
text-shadow: 0 0 10px;
border-bottom: 2px solid;
}

header a{
padding: 20px 40px;
background-color: tomato;
display: inline-block;
margin: 20px 0;
font-weight: bold;
text-shadow: 0 0 5px #444;
font-size: 20px;
border-bottom: 2px solid transparent;
}

header a:hover{
box-shadow: 0 0 10px #000;
text-shadow: 0 0 10px;
border-bottom: 2px solid;
}

@keyframes oferta_do_dia{

0%{
margin-left:-10px;
transform: translateX(-50px) rotate(-2deg);
}

25%{
margin-right:-10px;
transform: translateX(50px) rotate(2deg);
}

50%{
margin-left:-10px;
transform: translateX(-50px) rotate(-2deg);
}

75%{
margin-right:-10px;
transform: translateX(50px) rotate(2deg);
}

100%{
margin-left:-10px;
transform: translateX(-50px) rotate(-2deg);
}
}