body{
margin: 0;
padding: 0;
}

.banner{
background: #000a33;
background: linear-gradient(270deg, rgba(0, 10, 51, 1) 11%, rgba(89, 86, 112, 1) 55%, rgba(25, 54, 94, 1) 100%);
overflow: hidden;
color: white;
text-align: center;
text-transform: uppercase;
font-family: sans-serif;
padding: 30px;
}

.banner h1{
margin: 0;
font-size: 100px;
}

.banner h2{
margin: 0 0 20px 0;
font-size: 36px;
}

.banner a{
display: inline-block;
padding: 10px 22px;
background: white;
color: #333;
text-decoration: none;
transition: 0.3s;
}

.banner a:hover{
background: white;
border: none;
}