*{
margin: 0;
padding: 0;
font-family: 'Montserrat', 'Century Gothic', sans-serif;
font-style: normal;
list-style-type: none;
text-decoration: none;
border: none;
outline: none;
box-sizing: content-box;
color: #fff;
}

body{
background-color: #f1f1f1;
background-color: tomato;
}

header{
box-shadow: 0 0 10px #444;
background-color: tomato;
position: relative;
}

header h1{
margin-left: 20px;
font-size: 20px;
float: left;
line-height: 60px;
}

header nav{
float: right;
}

header nav a.menu_hamburguer{
position: absolute;
width: 40px;
height: 40px;
right: 20px;
top: -50px;
display: none;
}

header nav a.menu_hamburguer span{
background-color: #fff;
width: 100%;
height: 4px;
margin: 7px 0;
display: block;
}

header nav ul{
display: flex;
}

header nav ul li a{
display: block;
padding: 20px;
background-color: tomato;
font-weight: bold;
}

header nav ul li a:hover{
background-color: coral;
}

header img{
width: 100%;
display: block;
}

main{
max-width: 90%;
margin: auto;
}

main p{
padding: 20px 40px;
}

@media only screen and (max-width: 745px){


header nav a.menu_hamburguer{
display: block;
}

header nav {
position: absolute;
top: 60px;
float: left;
width: 100%;
}

header nav ul{
display: none;
width: 100%;
}

header nav ul.exibir_menu{
display: block;
}

header nav ul li{
display: block;
width: 100%;
}

header nav ul li a{
display: block;
padding: 20px 0;
width: 100%;
text-align: center;
}

}