*{
margin: 0;
padding: 0;
font-family: Roboto, 'Century Gothic', sans-serif;
font-style: normal;
list-style-type: none;
text-decoration: none;
color: #fff;
border: none;
outline: none;
box-sizing: content-box;
}

body{
background-color: royalblue;
}

header{
padding: 0 20px;
position: fixed;
height: 80px;
box-shadow: 0 0 10px #444;
width: 100%;
background-color: royalblue;
}

header h1{
display: inline-block;
line-height: 80px;
text-transform: uppercase;
font-size: 25px;
color: gold;
text-shadow: 0 0 5px #444;
}

header h1 i{
background-color: dodgerblue;
padding: 5px;
}

header a.menu_hamburguer{
width: 40px;
height: 40px;
position: absolute;
top: 20px;
right: 60px;
}

header a.menu_hamburguer span{
display: block;
border-width: 2px;
border-color: #fff;
border-style: solid;
margin: 7px 0;
}

header nav{
display: inline-block;
position: absolute;
right: 20px;
}

header nav ul{
display: flex;
align-items: center;
}

header nav ul li a{
background-color: royalblue;
display: block;
padding: 30px;
transition: .3s;
text-align: center;
}

header nav ul li a:hover{
background-color: dodgerblue;
}

main{
padding-top: 80px;
}

main picture img{
width: 100%;
}

main section{
max-width: 90%;
margin: auto;
}

main section p{
font-size: 20px;
text-align: justify;
line-height: 30px;
padding: 20px;
}

@media only screen and (max-width: 920px){

header a.menu_hamburguer{
display: block;
}

header nav{
display: block;
width: 100%;
right: 0;
height: 0;
overflow: hidden;
transition: .3s;
}

header nav.exibir_menu{
height: 320px;
}

header nav.exibir_menu ul li a{
background-color: dodgerblue;
}

header nav.exibir_menu ul li a:hover{
background-color: royalblue;
}

header nav ul{
display: block;
}

}