body{
margin: 0;
padding: 0;
font-family: 'Montserrat';
}

.navbar{
position: fixed;
height: 80px;
overflow: hidden;
top: 0;
display: flex;
align-items: center;
background: #f1f1f1;
width: 100%;
}

.logo{
float: left;
text-transform: uppercase;
letter-spacing: .2em;
color: #444;
position: relative;
padding: 0 25px;
margin-left: 20px;
}

.logo:before{
font-family: fontawesome;
content:'\f043';
position: absolute;
left: 0;
top: 50%;
transform: translateY(-50%);
background-color: #6ab04c;
width: 22px;
height: 22px;
display: flex;
justify-content: center;
align-items: center;
color: #fff;
font-size: 10px;
}

.menu{
position: absolute;
right: 20px;
}

.menu a{
color: #333;
text-decoration: none;
font-weight: 700;
margin-left: 20px;
transition: color 0.3s;
text-transform: uppercase;
}

.menu a:hover{
color: #6ab04c;
}

.header{
width: 100%;
height: 600px;
background: url(../img/bg.jpg) no-repeat center;
background-size: cover;
margin-top: 80px;
}

.btn{
display: none;
position: absolute;
right: 20px;
}

.btn:hover > span{
background: #6ab04c;
}

.btn span{
display: block;
margin: 6px;
width: 40px;
height: 3px;
background: #333;
}

p{
padding: 20px;
font-size: 20px;
text-align: justify;
}

@media only screen and (max-width: 600px){

.navbar{
overflow: visible;
}

.menu{
width: 100%;
right: 0;
top: 80px;
background: #f1f1f1;
overflow: hidden;
max-height: 0;
}

.menu a{
display: block;
text-align: center;
padding: 10px;
margin: 0;
}

.btn{
display: block;
}

.show{
max-height: 500px;
}

}