*{
margin: 0;
padding: 0;
font-family: "Century Gothic", sans-serif;
color: #444;
}

body{
background-color: #f1f1f1;
}

form{
max-width: 450px;
margin: 20px auto;
background-color: #fff;
box-shadow: 0 0 10px #444;
border-radius: 10px;
}

form header{
background-color: dodgerblue;
text-align: center;
padding: 20px;
position: relative;
border-radius: 10px 10px 0 0;
}

form header:before{
content: '';
position: absolute;
border-top: 50px solid transparent;
border-right: 450px solid #fff;
left: 0;
bottom: 0;
}

form header ion-icon{
color: #fff;
font-size: 150px;
}

form section, footer{
padding: 5px 20px;
width: 390px;
}

form section input, textarea{
width: 100%;
padding: 10px 10px;
margin: 10px 0;
border: none;
border-bottom: 1px solid dodgerblue;
outline: none;
}

form section textarea{
height: 120px;
}

form footer input[type="submit"]{
width: 410px;
padding: 10px 0;
background-color: dodgerblue;
border: none;
color: white;
font-weight: bold;
font-size: 16px;
cursor: pointer;
}

form footer input[type="submit"]:hover{
opacity: .7;
}