*{
margin: 0;
padding: 0;
font-family: 'Century Gothic', sans-serif;
color: #444;
}

body{
background-color: #f1f1f1;
}

form{
margin: 20px auto;
width: 80%;
background-color: #fff;
overflow: hidden;
box-shadow: 0 0 10px #444;
border-radius: 10px;
}

form *{
width: 100%;
padding: 15px 0 15px 15px;
}

form ion-icon{
width: 100%;
font-size: 100px;
background-color: dodgerblue;
color: #fff;
padding: 30px 0;
}

form input[type="text"], [type="email"], textarea{
border: none;
border-bottom: 2px solid dodgerblue;
outline: none;
font-weight: 600;
font-size: 15px;
}

form textarea{
padding: 15px 0 80px 15px;
}

form input[type="submit"]{
background-color: dodgerblue;
border: none;
color: #fff;
cursor: pointer;
font-weight: bold;
margin: 10px 0;
}

form input[type="submit"]:hover{
opacity: .7;
}