@import 'http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css';

*{
margin: 0;
padding: 0;
font-family: 'Century Gothic', sans-serif;
color: #444;
}

body{
background-color: #f1f1f1;
}

form{
width: 500px;
margin: 20px auto;
box-shadow: 0 0 10px #444;
background-color: #fff;
overflow: hidden;
}

form header{
background-color: dodgerblue;
font-size: 150px;
color: #fff;
padding: 20px;
text-align: center;
position: relative;
}

form header:after{
content: '';
position: absolute;
bottom: 0;
left: 0;
border-top: 50px solid transparent;
border-right: 500px solid #fff;
}

form section{
margin: 20px auto;
width: 480px;
}

form section input{
box-sizing: content-box;
width: 455px;
padding: 15px 10px;
margin: 15px 0;
outline: none;
border: none;
border-bottom: 1px solid dodgerblue;
}

form section textarea{
width: 455px;
height: 100px;
padding: 15px 10px;
margin: 15px 0;
outline: none;
border: none;
border-bottom: 1px solid dodgerblue;
}

form footer{
position: relative;
}

form footer input{
width: 100%;
background-color: dodgerblue;
color: #fff;
font-size: 18px;
padding: 15px 10px;
margin: 0 auto;
outline: none;
border: none;
border: 1px solid dodgerblue;
margin-bottom: 50px;
}

form footer input:hover{
cursor: pointer;
opacity: .7;
}

form footer:after{
content: '';
position: absolute;
bottom: 0;
left: 0;
border-bottom: 30px solid dodgerblue;
border-left: 500px solid #fff;
}

form{
border-bottom: 60px solid dodgerblue;
}