*{
margin: 0;
padding: 0;
font-family: 'Century Gothic', sans-serif;
font-style: normal;
list-style-type: none;
text-decoration: none;
border: none;
border-collapse: collapse;
box-sizing: content-box;
color: #444;
margin: 15px 0;
}

html,body,main{
height: 100%;
width: 100%;
background-color: #f1f1f1;
overflow: hidden;
display: flex;
align-items: center;
justify-content: center;
}

main{

}

main button{
background-color: tomato;
color: #fff;
padding: 15px 30px;
font-size: 20px;
box-shadow: 0 0 2px #444;
text-shadow: 0 0 5px #444;
cursor: pointer;
transition: .3s;
display: inline-block;
position: absolute;
}

main button:hover{
box-shadow: 0 0 5px #444;
transform: scale(1.05);
}

main div{
background-color: #fff;
width: 500px;
margin: auto;
box-shadow: 0 0 20px #444;
border-radius: 10px;
position: relative;
text-align: center;
}

main div.esconder{
display: none;
}

main div ion-icon{
font-size: 70px;
}

main div ion-icon:first-child{
color: #2ecc71;
}

main div h1{
text-transform: uppercase;
letter-spacing: 2px;
font-size: 50px;
}

main div ion-icon:last-child{
background-color: #e74c3c;
color: #fff;
border-radius: 50%;
box-shadow: 0 0 5px #444;
transition: .3s;
cursor: pointer;
}

main div ion-icon:hover:last-child{
transform: scale(1.08);
box-shadow: 0 0 10px #444;
}

