*{
margin: 0;
padding: 0;
font-family: Montserrat, 'Century Gothic', sans-serif;
font-style: normal;
list-style-type: none;
text-decoration: none;
border: none;
border-collapse: collapse;
outline: none;
box-sizing: content-box;
color: #fff;
}

html,body{
height: 100%;
display: flex;
justify-content: center;
align-items: center;
background-color: #000;
}

main section{
text-transform: uppercase;
text-align: center;
}

main section h1{
position: relative;
margin-bottom: 20px;
font-size: 50px;
letter-spacing: 0px;
background-color: #000;
animation: efeitoDeEntrada 3s 1;
}

main section h2{
color: tomato;
text-align: center;
}

@keyframes efeitoDeEntrada{

0%{
color: #000;
margin-bottom: -40px;
}

50%{
letter-spacing: 10px;
margin-bottom: -40px;
}

80%{
margin-bottom: -40px;
}

}