*{
margin: 0;
padding: 0;
font-family: 'Century Gothic', sans-serif;
font-style: normal;
list-style-type: none;
text-decoration: none;
color: #fff;
}

body{
background-color: #313131;
}

main nav{
max-width: 480px;
margin: auto;
}

main nav ul li{
display: flex;
justify-content: left;
align-items: center;
margin: 10px 0;
box-shadow: 0 0 10px #000;
cursor: pointer;
transition: .4s;
font-size: 20px;
text-shadow: 0 0 10px #000;
}

main nav ul li:hover{
transform: scale(1.05);
}

main nav ul li ion-icon{
font-size: 40px;
padding: 10px;
margin-right: 20px;
box-shadow: 0 0 10px #000;
}

main nav ul li ion-icon[name="alert-circle-outline"]{
background-color: #2980b9;
}

main nav ul li:first-child{
background-color: #3498db;
}

main nav ul li ion-icon[name="checkmark-outline"]{
background-color: #27ae60;
}

main nav ul li:nth-child(2){
background-color: #2ecc71;
}

main nav ul li ion-icon[name="warning-outline"]{
background-color: #f39c12;
}

main nav ul li:nth-child(3){
background-color: #f1c40f;
}

main nav ul li ion-icon[name="close-outline"]{
background-color: #c0392b;
}

main nav ul li:last-child{
background-color: #e74c3c;
}