@import 'http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css';

body{
margin: 0;
padding: 0;
background: #313131;
font-family: sans-serif;
}

.center-box{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
}

.center-box div{
width: 600px;
height: 60px;
overflow: hidden;
margin: 8px 0;
color: #313131;
}

.center-box span{
float: left;
width: 40px;
height: 60px;
font-size: 30px;
text-align: center;
line-height: 60px;
}

.center-box p{
float: left;
margin: 0;
padding: 0 6px;
font-size: 16px;
font-weight: 700;
line-height: 60px;
}

.m1{
background: #3498db;
}

.m1 span{
background: #2980b9;
}

.m2{
background: #2ecc71;
}

.m2 span{
background: #27ae60;
}

.m3{
background: #f1c40f;
}

.m3 span{
background: #f39c12;
}

.m4{
background: #e74c3c;
}

.m4 span{
background: #c0392b;
}