body{
margin: 0;
padding: 0;
background: #f1f1f1;
}

#btn{
width: 200px;
height: 60px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
background: #ffc107;
cursor: pointer;
border-radius: 5px;
overflow: hidden;
}

#btn:before{
color: white;
font-family: sans-serif;
content: 'Hover Me';
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
font-size: 20px;
transition: all 0.5s;
}

#btn:hover:before{
top: -30px;
}

#btn:after{
position: absolute;
content: '❤';
bottom: -120%;
left: 50%;
font-size: 40px;
color: red;
transform: translate(-50%, -50%);
transition: all 0.5s;
}

#btn:hover:after{
bottom: -40%;
}

/*
ion-icon{
position: absolute;
font-size: 40px;
bottom: -150%;
left: 50%;
transform: translate(-50%, -50%);
color: red;
transition: all 0.5s;
}

ion-icon:before:hover{
top: 50%;
}
*/