body{
margin: 0;
padding: 0;
font-family: 'Century Gothic', sans-serif;
background-color: #f1f1f1;
}

div{
width: 200px;
padding: 35px 20px;
border-radius: 5px;
position: absolute;
top: 50%;
left: 50%;
background-color: #2FB256;
overflow: hidden;
box-shadow: 0 0 50px rgba(0,0,0,0.3);
transform: translate(-50%,-50%);
cursor: pointer;
}

div:before{
color: #fff;
font-weight: bold;
font-size: 22px;
content: 'Hover Me';
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
transition: all 0.5s;
}

div:hover:before{
top: -50%;
}

div:after{
content: "❤";
position: absolute;
bottom: -100%;
left: 50%;
color: tomato;
font-size: 32px;
transform: translate(-50%, -50%);
transition: all 0.5s;
}

div:hover:after{
bottom: 0%;
}