*{
margin: 0;
padding: 0;
font-family: 'Century Gothic', sans-serif;
text-decoration: none;
list-style-type: none;
color: #fff;
}

body{
background-color: #f1f1f1;
}

nav{
display: block;
width: 100%;
position: fixed;
margin: 0 auto;
background-color: #fff;
box-shadow: 0 0 10px #444;
}

nav ul{
border: 1px solid;
width: 80%;
margin: 0 12%;
}

nav ul li{
text-align: center;
float: left;
display: block;	
}

nav ul li a{
display: block;
margin: 5px;
padding: 10px 20px;
font-weight: bold;
text-transform: uppercase;
}

nav ul li a:hover{
box-shadow: 0 0 10px #444;
color: #000;
opacity: .8;
}

nav ul li:nth-child(1) a{
background-color: tomato;
}

nav ul li:nth-child(2) a{
background-color: dodgerblue;
}

nav ul li:nth-child(3) a{
background-color: orange;
}

nav ul li:nth-child(4) a{
background-color: rgb(52, 73, 94);
}

nav ul li:nth-child(5) a{
background-color: #34C85A;
}

nav ul li:nth-child(6) a{
background-color: purple;
}

nav ul li:nth-child(7) a{
background-color: #444444;
}