*{
margin: 0;
padding: 0;
font-family: 'Century Gothic', sans-serif;
font-style: normal;
list-style-type: none;
text-decoration: none;
color: #444;
}

html, body,main{
height: 100%;
display: flex;
justify-content: center;
align-items: center;
background-color: #f1f1f1;
}

main section article{
background-color: #fff;
padding: 20px;
box-shadow: 0 0 10px;
border-radius: 10px;
width: 350px;
}

main section article h1{
border-bottom: 4px solid;
margin: 20px 0;
}

main section article ul li div{
transition: .6s;
box-shadow: 0 0 10px;
}

main section article ul li div{
height: 25px;
border-radius: 5px;
margin: 10px 0;
overflow: hidden;
width: 100%;
background-color: #314652;
position: relative;
}

main section article ul li:first-child div:before{
content:'';
position: absolute;
height: 25px;
width: 80%;
background-color: tomato;
}

main section article ul li:nth-child(2) div:before{
content:'';
position: absolute;
height: 25px;
width: 70%;
background-color: dodgerblue;
}

main section article ul li:nth-child(3) div:before{
content:'';
position: absolute;
height: 25px;
width: 10%;
background-color: gold;
}

main section article ul li:nth-child(4) div:before{
content:'';
position: absolute;
height: 25px;
width: 10%;
background-color: mediumslateblue;
}

main section article ul li:last-child div:before{
content:'';
position: absolute;
height: 25px;
width: 10%;
background-color: #A41C21;
}

main section article ul li:hover div{
transform: scale(1.08);
}