*{
margin: 0;
padding: 0;
font-family: sans-serif;
}

body{
background: #deecdf;
}

.skills{
width: 600px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
overflow: hidden;
background: white;
color: #313131;
padding: 20px;
}

h1{
font-size: 30px;
padding: 6px 0 10px 0;
border-bottom: 4px solid;
margin: 0 0 10px 0;
}

h3{
font-size: 20px;
margin: 6px 0;
}

.skills div{
width: 100%;
background: #607D88;
height: 24px;
border-radius: 4px;
position: relative;
overflow: hidden;
}

.html-bar:before{
content:'';
position: absolute;
width: 80%;
height: 24px;
left: 0;
background: #e74c3c;
}

.css-bar:before{
content:'';
position: absolute;
width: 55%;
height: 24px;
left: 0;
background: #3498db;
}

.js-bar:before{
content:'';
position: absolute;
width: 20%;
height: 24px;
left: 0;
background: #2ecc71;
}

.php-bar:before{
content:'';
position: absolute;
width: 60%;
height: 24px;
left: 0;
background: #9b59b6;
}