*{
margin: 0;
padding: 0;
font-family: 'Ionicons', sans-serif;
color: #000;
}

body{
background-color: #f1f1f1;
}

nav ul{
display: flex;
justify-content: space-around;
list-style-type: none;
margin: 50px auto;
width: 500px;
}

nav ul li a{
display: block;
border-radius: 50%;
width: 60px;
height: 60px;
text-decoration: none;
font-size: 50px;
color: #fff;
transition: 500ms;
padding: 10px;
overflow: hidden;
box-shadow: 0 0 10px #444;
}

/*=======================Botão do Relógio=======================*/

nav ul li:nth-child(1) a{
background-color: #2196f3;
}

nav ul li:nth-child(1) a:before{
content: '\f26e';
position: relative;
top: 0;
transition: .5s;
left: 10px;

}

nav ul li:nth-child(1) a:hover:before{
top: -60px;
}

nav ul li:nth-child(1) a:after{
content: '\f26e';
position: relative;
top: 70px;
left: -35px;
transition: .5s;
}

nav ul li:nth-child(1) a:hover:after{
top:0px;
}

/*=======================Botão da Núvem=======================*/

nav ul li:nth-child(2) a{
background-color: #4caf50;
}

nav ul li:nth-child(2) a:before{
content: '\f37a';
position: relative;
top: 0;
transition: .5s;
left: 10px;

}

nav ul li:nth-child(2) a:hover:before{
top: -60px;
}

nav ul li:nth-child(2) a:after{
content: '\f37a';
position: relative;
top: 70px;
left: -35px;
transition: .5s;
}

nav ul li:nth-child(2) a:hover:after{
top:0px;
}

/*=======================Botão da Bússola=======================*/

nav ul li:nth-child(3) a{
background-color: #ff9800;
}

nav ul li:nth-child(3) a:before{
content: '\f37c';
position: relative;
top: 0;
transition: .5s;
left: 10px;

}

nav ul li:nth-child(3) a:hover:before{
top: -60px;
}

nav ul li:nth-child(3) a:after{
content: '\f37c';
position: relative;
top: 70px;
left: -35px;
transition: .5s;
}

nav ul li:nth-child(3) a:hover:after{
top:0px;
}

/*=======================Botão do PC=======================*/

nav ul li:nth-child(4) a{
background-color: #795548;
}

nav ul li:nth-child(4) a:before{
content: '\f380';
position: relative;
top: 0;
transition: .5s;
left: 10px;

}

nav ul li:nth-child(4) a:hover:before{
top: -60px;
}

nav ul li:nth-child(4) a:after{
content: '\f380';
position: relative;
top: 70px;
left: -35px;
transition: .5s;
}

nav ul li:nth-child(4) a:hover:after{
top:0px;
}

/*=======================Botão do Coração=======================*/

nav ul li:nth-child(5) a{
background-color: #cddc39;
}

nav ul li:nth-child(5) a:before{
content: '\f387';
position: relative;
top: 0;
transition: .5s;
left: 10px;

}

nav ul li:nth-child(5) a:hover:before{
top: -60px;
}

nav ul li:nth-child(5) a:after{
content: '\f387';
position: relative;
top: 70px;
left: -35px;
transition: .5s;
}

nav ul li:nth-child(5) a:hover:after{
top:0px;
}