@import 'http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css';

*{
margin: 0;
padding: 0;
font-family: 'Century Gothic', sans-serif;
text-decoration: none;
list-style-type: none;
color: #fff;
}

body{
background-color: #f1f1f1;
}

nav ul{
display: block;
box-shadow: 0 0 10px #444;
position: absolute;
width: 100%;
}

nav ul li{
float: left;
width: 20%;
text-align: center;
background-color: #1D2A35;
font-size: 50px;
cursor: pointer;
padding: 5px 0;
}

nav ul li:first-child{
background-color: orange;
}

nav ul li:hover{
opacity: .7;
}