@import 'http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css';

*{
margin: 0;
padding: 0;
font-family: 'Century Gothic', sans-serif;
text-decoration: none;
list-style-type: none;
color: #fff;
}

nav ul{
display: flex;
justify-content: space-around;
box-shadow: 0 0 10px #444;
}

nav ul li{
width: 100%;
text-align: center;
}

nav ul li a{
font-size: 40px;
display: block;
background-color: #607d8b;
padding: 15px;
transition: .5s;
}

nav ul li:first-child a{
background-color: #f19800;
}

nav ul li a:hover{
opacity: .7;
}