@import 'http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css';

*{
margin: 0;
padding: 0;
font-family: 'Century Gothic', sans-serif;
text-decoration: none;
list-style-type: none;
color: #444;
}

body{
background-color: #f1f1f1;
}

nav{
background-color: #fff;
box-shadow: 0 0 10px #444;
min-width: 600px;
}

nav ul{
display: flex;
justify-content: space-around;
}

nav ul li a{
display: block;
padding: 10px;
margin-top: 20px;
font-weight: bold;
font-size: 18px;
position: relative;
overflow: hidden;
}

nav ul li a:before{
content:'';
position: absolute;
color: #444;
bottom: 0;
left: -4px;
border: 2px solid;
width: 0px;
transition: .4s;
}

nav ul li a:hover:before{
width: 100%;
}