@import 'http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css';

*{
margin: 0;
padding: 0;
font-family: 'Century Gothic', sans-serif;
list-style-type: none;
text-decoration: none;
color: #fff;
text-align: center;
}

body{
background-color: #f1f1f1;
}

div#conteudo{
width: 90%;
display: flex;
justify-content: space-around;
margin: 40px auto;
}

div#conteudo div{
background-color: #1D2A35;
box-shadow: 0 0 10px #444;
border-radius: 20px;
transition: .4s;
}

div#conteudo div:hover{
transform: scale(1.1);
}

div#conteudo div h2{
text-transform: uppercase;
padding: 15px;
border-radius: 20px 20px 0 0;

}

div#conteudo div:nth-child(1) h2{
background-color: #2196f3;
}

div#conteudo div:nth-child(2) h2{
background-color: #ff9800;
}

div#conteudo div:nth-child(3) h2{
background-color: #f44336;
}

div#conteudo div ul li{
padding: 10px;
border-top: 1px solid #444;
}

div#conteudo div ul li span{
display: block;
font-size: 50px;
font-weight: bold;
}

div#conteudo div ul li a{
display: block;
font-weight: bold;
text-transform: uppercase;
padding: 10px;
}

div#conteudo div ul li a:hover{
color: #f44336;
}