@import 'http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css';

*{
margin: 0;
padding: 0;
font-family: 'Century Gothic', sans-serif;
text-decoration: none;
list-style-type: none;
color: #fff;
}

body{
background-color: #f1f1f1;
display: flex;
justify-content: space-evenly;
}

div{
background-color: #1D2A35;
width: 320px;
margin: 30px auto;
box-shadow: 0 0 10px #444;
text-align: center;
border-radius: 10px;
position: relative;
transition: .4s;
}

div:hover{
transform: scale(1.1);
}

div h1{
position: relative;
border-radius: 10px 10px 0 0;
font-size: 40px;
padding: 10px 0;
text-transform: uppercase;
}

div h1#basico{
background-color: dodgerblue;
}

div h1#intermediario{
background-color: orange;
}

div h1#avancado{
background-color: tomato;
}

div ul li{
border-top: 1px solid #444;
font-size: 18px;
padding: 10px 0;
}

div ul li:last-child{
padding: 0;
}

div ul li span{
font-size: 50px;
display: block;
position: relative;
font-weight: bold;
}

div ul li span:after{
content:'R$';
position: absolute;
font-size: 12px;
bottom: 0;
}

div ul li a{
display: block;
padding: 15px 0;
cursor: pointer;
text-transform: uppercase;
font-weight: bold;
transition: .2s;
}

div ul li:last-child:hover a{
color: tomato;
background-color: rgba(0,0,0,0.2);
border-radius: 10px;
}

div ul li:last-child:hover i{
color: tomato;
}

@media (max-width: 1030px){

body{
display: block;
}

/*
div h1{
position: relative;
display: block;
}

div ul{
margin: 0 0 0 0;
}
*/
}