*{
margin: 0;
padding: 0;
font-family: 'Century Gothic', sans-serif;
font-style: normal;
list-style-type: none;
text-decoration: none;
color: #fff;
}

html,body{
height: 100%;
background-color: #f1f1f1;
}

header{
text-align: center;
background-color: tomato;
padding: 50px 0;
box-shadow: 0 0 10px #444;
}

header nav{
font-weight: bold;
font-size: 20px;
}

header nav select{
display: none;
outline: none;
background-color: tomato;
border: none;
padding: 10px 0;
font-size: 18px;
}

header nav select option{
text-align: center;
background-color: coral;
}

header nav ul{
display: inline-block;
position: absolute;
border: 1px solid coral;
top: 45px;
height: 30px;
overflow: hidden;
transition: .3s;
margin-left: 5px;
box-shadow: 0 0 5px #444;
}

header nav ul:hover{
height: 170px;
}

header nav ul li{
background-color: tomato;
}

header nav ul li a{
display: block;
padding: 5px;
}

header nav ul li a:hover{
background-color: coral;
}

main{
margin: 10px;
text-align: center;
}

main section{
display: none;
}

main section picture img{
width: 300px;
height: 200px;
box-shadow: 0 0 10px #444;
margin: 10px;
border-radius: 10px;
transition: .3s;
cursor: pointer;
}

main section picture:hover img{
transform: scale(1.08);
}

:target {
display: block;
}


main#todos:target section{
display: inline-block;
}