@import 'http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css';

*{
margin: 0;
padding: 0;
font-family: 'Century Gothic', sans-serif;
text-decoration: none;
list-style-type: none;
}

nav{
border-top: 1px solid dodgerblue;
width: 480px;
margin: 20px auto;
}

nav ul li{
border-bottom: 1px solid dodgerblue;
padding: 15px 10px;
}

nav ul li i{
text-align: left;
}

nav ul li label{
float: right;
position: relative;
border-radius: 10px;
}

nav ul li label input{
display: none;
}

nav ul li label span{
width: 50px;
height: 25px;
display: block;
background-color: #f1f1f1;
border-radius: 20px;
cursor: pointer;
transition: .4s;
}

nav ul li label span:before{
content:'';
position: absolute;
background-color: #fff;
width: 20px;
height: 20px;
left: 3px;
bottom: 3px;
border-radius: 50%;
transition: .4s;
}

nav ul li label input:checked + span{
background-color: #34c85a;
}

nav ul li label input:checked + span:before{
left: 28px;
}