*{
margin: 0;
padding: 0;
font-family: 'Century Gothic', sans-serif;
text-decoration: none;
list-style-type: none;
}

label{
display: inline-block;
margin: 20px;
position: relative;
}

label input{
display: none;
}

label span{
display: block;
width: 100px;
height: 40px;
background-color: #ccc;
transition: .4s;
cursor: pointer;
}

label span:before{
content:'';
position: absolute;
width: 32px;
height: 32px;
background-color: #fff;
left: 4px;
bottom: 4px;
transition: .4s;
}

label input:checked + span{
background-color: dodgerblue;
}

label input:checked + span:before{
left: 64px;
}

/*==========BOTÃO COM DIV==========*/

div{
display: inline-block;
margin: 20px;
position: relative;
}

div input{
display: none;
}

div span{
display: block;
background-color: #ccc;
width: 100px;
height: 40px;
}

div span:before{
content: '';
position: absolute;
background-color: #fff;
width: 32px;
height: 32px;
left: 4px;
bottom: 4px;
}

div input:checked + span{
background-color: dodgerblue;
}

/*==========BOTÃO COM UL/LI==========*/

ul li{
margin: 20px;
position: relative;
}

ul li input{
display: none;
}

ul li span{
width: 100px;
height: 40px;
display: block;
background-color: #ccc;
}

ul li span:before{
content:'';
width: 32px;
height: 32px;
background-color: #fff;
position: absolute;
left: 4px;
bottom: 4px;
}

ul li input:checked + span{
background-color: dodgerblue;
}

/*==========BOTÃO COM FORM==========*/


form{
margin: 20px;
position: relative;
}

form input{
display: none;
}

form span{
width: 100px;
height: 40px;
background-color: #ccc;
display: block;
}

form span:before{
content:'';
position: absolute;
width: 32px;
height: 32px;
background-color: #fff;
left: 4px;
bottom: 4px;
}

form input:checked + span{
background-color: dodgerblue;
}