*{
margin: 0;
padding: 0;
font-family: 'Century Gothic', sans-serif;
font-style: normal;
list-style-type: none;
text-decoration: none;
color: #fff;
}

body{
background-color: #f1f1f1;
}

main header nav ul{
display: flex;
justify-content: space-around;
background-color: #444;
box-shadow: 0 0 10px #444;
}

main header nav ul li{
width: 100%;
text-align: center;
}

main header nav ul li a{
display: block;
padding: 20px 0;
}

main header nav ul li a:hover{
background-color: #ccc;
color: #444;
}

main header nav ul li:nth-child(2){
position: relative;
}

main header nav ul li:nth-child(2):hover ul.suspenso{
height: 180px;
}

main header nav ul li:nth-child(4){
position: relative;
}

main header nav ul li:nth-child(4):hover ul.suspenso{
height: 180px;
}

main header nav ul li ul.suspenso{
position: absolute;
display: block;
width: 100%;
height: 0;
overflow: hidden;
transition: .3s;
}

@media screen and (max-width: 890px){

main header nav ul li ul.suspenso{
width: 150px;
}

}