*{
margin: 0;
padding: 0;
font-family: 'Century Gothic', sans-serif;
font-style: normal;
list-style-type: none;
text-decoration: none;
color: #fff;
}

body{
background-color: #f1f1f1;
}

header nav ul{
display: flex;
justify-content: space-around;
align-items: center;
background-color: #444;
box-shadow: 0 0 10px #444;
}

header nav ul li{
width: 100%;
text-align: center;
}

header nav ul li a{
display: block;
padding: 20px 0;
width: 100%;
}

header nav ul li a:hover{
background-color: rgba(255,255,255,0.5);
}

header nav ul li:nth-child(2){
position: relative;
}

header nav ul li ul#submenu_servicos{
position: absolute;
display: none;
bottom: -183px;
}

header nav ul li:nth-child(2):hover ul#submenu_servicos{
display: block;
}

header nav ul li:nth-child(4){
position: relative;
}

header nav ul li ul#submenu_produtos{
position: absolute;
display: none;
bottom: -183px;
}

header nav ul li:nth-child(4):hover ul#submenu_produtos{
display: block;
}

@media (max-width: 820px){

header nav ul li ul#submenu_servicos > li{
width: 100%;
}

header nav ul li ul#submenu_produtos > li{
width: 100%;
}

}

@media (min-width: 820px){

header nav ul li ul#submenu_servicos{
width: 100%;
}

header nav ul li ul#submenu_produtos{
width: 100%;
}

}