*{
margin: 0;
padding: 0;
font-family: 'Century Gothic', sans-serif;
color: #444;
text-decoration: none;
list-style-type: none;
}

body{
background-color: #f1f1f1;
}

main article{
width: 480px;
height: 320px;
overflow: hidden;
border-radius: 10px;
margin: 50px auto;
box-shadow: 0 0 10px #444;
position: relative;
cursor: pointer;
}

main article img{
width: 100%;
transition: 1s;
}

main article:hover img{
transform: scale(1.2);
}

main article:before{
content:'';
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
width: 0%;
height: 0%;
border-radius: 50%;
background-color: rgb(3, 174, 208,0.5);
transition: .4s;
z-index:1;
}

main article:hover:before{
width: 150%;
height: 150%;
}

main article:after{
content:'Mais Detalhes';
position: absolute;
top: 80%;
left: 80%;
transform: translate(-50%,-50%);
padding: 10px 30px;
border-radius: 10px;
background-color: dodgerblue;
box-shadow: 0 0 10px #444;
transition: .4s;
font-weight: bold;
color: #fff;
text-transform: uppercase;
display: none;
text-align: center;
z-index:2;
}

main article:hover:after{
display: block;
}