*{
margin: 0;
padding: 0;
font-family: 'Century Gothic', sans-serif;
color: #444;
text-decoration: none;
list-style-type: none;
font-style: normal;
}

body{
background-color: #f1f1f1;
}

picture{
display: block;
width: 480px;
height: 320px;
margin: 10% auto;
border-radius: 10px;
cursor: pointer;
overflow: hidden;
position: relative;
box-shadow: 0 0 10px #444;
}

picture img{
width: 100%;
height: 100%;
transition: .4s;
}

picture:before{
content:'';
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
width: 0%;
height: 0%;
border-radius: 10px;
background-color: rgba(84,215,227,0.3);
transition: .4s;
z-index: 1;
}

picture:hover:before{
width: 100%;
height: 100%;
}

picture:after{
content:'Mais Detalhes';
text-transform: uppercase;
color: #fff;
position: absolute;
padding: 10px 30px; 
z-index: 2;
background-color: dodgerblue;
top: 20%;
left: 50%;
transform: translate(-50%,-50%);
font-weight: bold;
box-shadow: 0 0 10px #fff;
border-radius: 10px;
display: none;
transition: .4s;
}

picture:hover img{
transform: scale(1.2);
}

picture:hover:after{
display: block;
}