*{
margin: 0;
padding: 0;
font-family: calibri;
}

div{
width: 350px;
margin: 60px auto;
height: 420px;
background-color: #484747;
padding: 25px;
border-radius: 3px;
box-shadow: 15px 15px 75px #484747;
color: white;
}

h5{
font-size: 22px;
margin-bottom: 15px;
font-weight: normal;
}

input[type="text"], input[type="password"]{
width: 100%;
margin-bottom: 20px;
padding: 10px;
background-color: #474747;
font-size: 16px;
color: white;
border: 1px solid #1F53C5;
}

a{
color: white;
}

center a{
text-decoration: none;
}

center a:hover{
border-bottom: 1px solid #1F53C5;
}

input[type="button"]{
width: 100%;
background-color: #1F53C5;
padding: 5px;
color: wheat;
font-size: 25px;
margin: 25px 0;
}